.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 4rem 8rem;
    border-top: 1px solid $color-bc-accent;

    @include respond(tab-port) {
        padding: 4rem 2rem;
        flex-direction: column;
    }

    &__col {
        &:first-of-type {
            flex: 0 1 40%;
        }

        flex: 0 1 60%;

        & h3 {
            font-weight: 300;
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        & .links {
            display: flex;
            flex-wrap: wrap;

            & .link {
                margin: 1rem;
                text-transform: uppercase;

                &.text-link {
                    padding: 1rem;
                    @include transition;
                    border: 1px solid transparent;

                    &:hover {
                        border-color: $color-text-light;
                    }
                }

                & svg {
                    color: $color-text-light;
                    fill: $color-text-light;
                    height: 5rem;
                    width: 5rem;
                    border-radius: 50%;
                    border: 2px solid $color-text-light;
                    padding: .8rem;
                    @include transition;

                    &:hover {
                        filter: brightness(2);
                    }
                }
            }
        }

        & .text {
            margin: 1.5rem 0 1.5rem 2rem;
        }

        & .cards {
            margin-left: 2rem;

            & ul {
                display: flex;
                list-style: none;
                flex-wrap: wrap;

                & li {
                    margin: 0 .5rem;
                }
            }

            // & .card {
            //     height: 5rem !important;

            //     & svg {
            //         height: 2.7rem;
            //         width: 4.2rem;
            //     }
            // }
        }
    }
}