.hero {
    width: 1500px;
    max-width: 100%;
    overflow: hidden;
    // height: 40rem;
    max-height: 45rem;
    margin: 0 auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    >div {
        position: unset !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    & .img {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

}