.navbar {
    width: 100%;
    margin: 0 auto 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $color-bc-accent;

    & .ad {
        background-color: $color-text;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        color: white;
    }

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        height: 13rem !important;
        border-bottom: 1px solid $color-bc-accent;

        & .logo-box {

            & .logo {
                display: flex;
                align-items: center;

                & h1 {
                    margin-left: 1rem;
                }
            }

        }
    }

    &__bottom {
        width: 100%;
        display: flex;

    }

    &__links {
        min-width: 90%;
        margin: 0rem auto 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;

        & .link {
            @include transition;
            position: relative;
            cursor: pointer;

            text-transform: capitalize;
            padding: 1rem 3rem;
            white-space: nowrap;


            &.active {
                color: white;
                background-color: $color-text;

            }

            &:hover {
                background-color: $color-text;
                color: white;

            }


        }


    }
}